.assets
.env
*.pyc
dist/
build/
docs/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
tests/

# Syncthing conflict and temporary files
*.sync-conflict-*
*.tmp
.syncthing.*
/dev/
/temp/
/zz-*_/
*.pyc